<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>ATM Sederhana</title>
</head>
<body class="bg-blue-700">
    <div class="flex mt-30">
        <div class="w-1/2">
            <p class="flex justify-center text-4xl text-white font-bold pt-36 text-center">SILAHKAN MASUKAN KARTU <br> ANDA</p>
        </div>
        <div class="w-1/2 flex justify-center">
            <a href="2.tampilan1.html">
                <img class="w-96 pt-40" src="/img/insert.png" alt="insert">
            </a>
        </div>
    </div>
    <div class="flex mx-28">
        <p class="flex justify-center text-4xl text-white font-bold ">PLEASE INSERT YOUR CARD</p>
    </div>
</body>
</html>