<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>ATM Sederhana</title>
</head>
<body class="bg-blue-700">    
    <div class="mt-3">
        <div>
            <p class="flex justify-center text-4xl font-bold mt-3 text-white">SILAHKAN PILIH BAHASA ANDA</p><br>
            <div class="flex justify-center">
                <div class="w-6/12">
                    <hr class="opacity-70 mt-6 mb-6">
                </div>
            </div>
            <p class="flex justify-center text-4xl font-bold mt-6 text-white">PLEASE SELECT YOUR LANGUAGE</p><br>
        </div>
    </div>
    <div class=" text-3xl font-bold mr-80 mt-10 text-white text-right">
        <a href="/view/3.masukanpin.html">INDONESIA -></a>
        <p class="mt-32 mb-6">ENGLISH -></p>
    </div>
    <div class="mt-6">
        <div>
            <a href="/index.html" class="flex justify-center text-4xl font-bold mt-4 text-white">TO OBTAIN CARD PRESS CANCEL</a><br>
            <div class="flex justify-center">
                <div class="w-6/12">
                    <hr class="opacity-70 mt-6 mb-6">
                </div>
            </div>
            <p class="flex justify-center text-4xl font-bold mt-4 text-white">TEKAN 'CANCEL' UNTUK MEMBATALKAN</p><br>
        </div>
    </div>
</body>
</html>